.header {
  font-size: 3rem;
  font-weight: 600;
  color: aqua;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.box {
  width: 70%;
  height: 200px;
  background-color: darkgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: auto;
  margin-top: 10px;
}
